.basic {
  font-weight: bolder;
}
.line1 {
  font-style: italic;
}
#line2 {
  font-family: fantasy;
  color: darkgreen;
}
img {
  float: right;
  border: 2px solidred;
  padding: 6px;
  margin: 10px;
}
@media screen and (min-width: 480px) {
  body {
    background-color: yellow;
  }
}
